<!doctype html>

<html>
	<head>
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/bootstrap.css">
		<script src="bootstrap.js"></script>
		<title>SpartanSword!</title>
	</head>
  	<body>
  		<article>
	  		<section>
	  			<h1>Coming Soon!</h1>
	  		</section>
	  		<section>
	    		<p>A new tool that will revolutionize the way we operate. It's called: </p>
	    	</section>
	    	<section>
	    		<h2>SpartanSword!</h2>
	    	</section>
	    	<section>
    			<img alt="spartan sword handle" src="images/sword.jpg">
    				<!-- By Søren Niedziella from Denmark (Albion_Sovereign_Medieval_Sword_3Uploaded by tm) [CC BY 2.0 (http://creativecommons.org/licenses/by/2.0)], via Wikimedia Commons -->
			</section>
			<section>
    			<p id="imgatt">By Søren Niedziella from Denmark (Albion_Sovereign_Medieval_Sword_3Uploaded by tm) [CC BY 2.0 (http://creativecommons.org/licenses/by/2.0)], via Wikimedia Commons</p>
			</section>
    	</article>
  	</body>
</html>
