<!doctype html>

<html>
	<head>
		<link rel="stylesheet" href="css/style.css">
		<title>SpartanSword!</title>
	</head>
	<body>
		<article>
			<section>
				<h1>New Product Coming Soon!</h1>
			</section>
			<section>
    			<p>This new tool, <strong>SpartanSword</strong>, will revolutionize the way we operate.</p>
    		</section>
    		<section>
    			<img alt="spartan sword handle" src="images/sword.jpg">
    				<!-- By Søren Niedziella from Denmark (Albion_Sovereign_Medieval_Sword_3Uploaded by tm) [CC BY 2.0 (http://creativecommons.org/licenses/by/2.0)], via Wikimedia Commons -->
    		</section>
    		<section>
    			<p id="imgatt">By Søren Niedziella from Denmark (Albion_Sovereign_Medieval_Sword_3Uploaded by tm) [CC BY 2.0 (http://creativecommons.org/licenses/by/2.0)], via Wikimedia Commons</p>
			</section>
  		</article>
  	</body>
</html>