<!doctype html>



<html>
<head>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="bootstrap.js"></script>
	<title>Holidays!</title>
</head>
<body>

	<form>
		<p>Month (1-12)</p>
		<input name="month" type="number">
		<p>Day (1-31)</p>
		<input name="day" type="number">
		<p>Year (xxxx)</p>
		<input name="year" type="number">
		<button type="submit">Submit!</button>
	</form>

	<% if @current_holidays.any? %>
  	<h3>US Holidays</h3>
		<% @current_holidays.each do |holiday| %>
			<ul>
				<li><%= holiday['name'] %>, <%=holiday['date'] %></li>
			</ul>
		<% end %>
	<% else %>
  	<h3>No results match your entered date</h3>
	<% end %>
	
</body>
</html>
