h1 {
	background: #C0C0C0;
	display: inline-block;
	border-radius: 6px;
	padding: 15px;
}

h2 {
	background: #C0C0C0;
	display: inline-block;
	border-radius: 6px;
	padding: 15px;
}

p {
	background: #C0C0C0;
	display: inline-block;
	border-radius: 6px;
	padding: 15px;
}

body {
	background: #f8f8f8;
	text-align: center;
}

.container {
	background: #006600;
	border-radius: 6px;
	margin-top: 10px;
	/* height: 720px;
	text-align: center;
	margin-left: 25px;
	margin-right:25px; */
}

img {
	border-radius: 6px;
	height: 25%;
	width: 25%;
	padding: 10px;
}

#imgatt {
	font-size: 75%;
	margin-top: 15px;
}
